* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(to right, #667eea, #764ba2);
    color: antiquewhite;
}

/* nav {
    height: 40px;
    width: 90vw;
    
    padding: 50px;
    display: flex;
    justify-content: center;
    gap: 20px;
} */

/* nav a{
    height: 50px;
    width: 400px;
    
    background: #6366F1; 
    color: white;
 
    font-size: 40px;
    text-decoration: none;
    padding: 15px;
    text-align: center;
} */


nav {
  display: flex;
  justify-content: center;
  gap: 20px;
  position: relative;
}

/* Normal buttons */
nav a {
  padding: 12px 20px;
  border-radius: 10px;
  color: white;
  text-decoration: none;
  transition: all 0.3s ease;
  background: rgba(255,255,255,0.1);
}

.navbar-container {
  position: relative;
}

/* Hover */
nav a:hover {
  transform: translateY(-2px);
}

/* 🔥 Active (clicked) */
nav a.active {
  transform: scale(1.2);   /* makes it bigger */
  background: linear-gradient(135deg, #667eea, #764ba2);
  box-shadow: 0 4px 15px rgba(0,0,0,0.3);
}

#profile {
    border-radius: 20px;
    margin-top: 0;
    margin-right: 0;
}

.profile {
  position: absolute;
  top: 20px;
  right: 20px;

  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: linear-gradient(135deg, #667eea, #764ba2);

  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}